[Unit]
Description=Autostart openvpn with pia connection & bind port & sync qbittorrent accordingly
After=network.target

[Service]
#Do not change to "simple"
Type=exec
User=root
Group=root
UMask=007
WorkingDirectory=/usr/local/bin/PIA-openvpn-qbittorrent-port-forward-script/
ExecStart=/usr/local/bin/PIA-openvpn-qbittorrent-port-forward-script/start_pia-openvpn-qbittorrent-port-bind.sh
Restart=on-failure
SyslogIdentifier=pia-openvpn-qbittorent-portbind

[Install]
WantedBy=multi-user.target